.resume {
    width: 70%;
    height: 1200px;
    position: inherit;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar{
    background-color: white;
}

 $resume: url(../../static/myResume.pdf);
 
 $background: url(../../static/images/resume-background.jpg);

 :export {
    resume: $resume;
    background: $background;
 }