.listingsContainer{
        top: 15%;
        position: absolute;
        bottom: 3%;
        left: 50px;
        overflow: auto;
        /* background: black; */
        right: 50px;
}

.listingsContainer::-webkit-scrollbar {
        display: none;
}

.context{
// background: white;
// height: 1000px;
// display: inline-block;
}
    

    .island{
        height: 1000px;
        display: inline-block;
    }

    .centerDisplay{
        margin-top: 30px;
        color: lightgoldenrodyellow;
        background-color: black;
        height: 100px;
    }

    .novelContainer {
    
        background: black;
                color: lightgoldenrodyellow;
                border: 10px black solid;
                display: flex;
                max-width: 100%;
                max-height: 300px;
    }

 

    .novelContainer:hover{
        border: aliceblue 5px solid;
    }

    .space{
        margin-bottom: 5px;
    }

    .novelCover{
        max-width: inherit;
        width: 25%;
        height: 220px;
            // float:left;
            // height:142px;
            // width: 100px;
            
    }
    
    .novelContext {
        margin-left: 5%;
        margin-top: 2%;
        text-align: left;
            // margin-left: 125px;
            // padding-bottom: 15px;
            // position: relative;
            // top: -6px;
            // min-height: 180px;
    }

    .novelRatings{
            // text-align: center;
            // margin-top: -8px;
    }

    .novelRatingImage{
            // font-size: 12px;
            // color: #d70000
    }

   

    .novelTitle{
            // font-size: 16px;
            // font-weight: 700;
            // color: #1b98e0;
    }

    .novelStats {
        // margin-top: 10px;
            // padding-bottom: 2px;
            // font-size: 13.5px;
    }

    .novelSpan{
            // display: inline;
    }
    