.collection-component {
    display: inline-grid;
    background: white;
    width: 55%;
}


.grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
}


.library-novel-object{
    display: inline-grid;
    margin: 20px;

    .book-cover {
            height: 200px;
            width: 185px;
        }

    .cover-title {
            min-width: 185px;
            max-width: 185px;
        }
}