.register-form {
    background-image: url(../../static/images/sign-in-formV2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 55%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.w3-section{
    margin-top: 80px;
}

.account-button{
    margin: 4%;
}

// .form-control{
//  background-color: black;
//  color: white;
// }
$background: url(../../static/images/Login-Background.jpg);

:export {
    background: $background;
}