.navbar {
    display: flow-root;
}

.MuiTypography-root.MuiTypography-body1.css-1lojo64-MuiTypography-root {
    float: left;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.css-137ul40-MuiButtonBase-root-MuiIconButton-root {
    position: relative;
    margin: auto;
    margin-right: 17px;
}